[package]
name = "gba"
description = "A crate for making GBA games with Rust."
version = "0.5.2"
authors = ["Lokathor <zefria@gmail.com>", "Thomas Winwood <twwinwood@gmail.com>"]
repository = "https://github.com/rust-console/gba"
readme = "README.md"
keywords = ["gba"]
edition = "2018"
license = "Zlib OR Apache-2.0 OR MIT"

[features]
default = []
serial = ["embedded-hal", "nb"]

[dependencies]
voladdress = { version = "0.4" }
#
embedded-hal = { version = "0.2.4", optional = true }
nb = { version = "1", optional = true }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

#[[example]]
#name = "uart_echo"
#required-features = ["serial"]

[package.metadata.docs.rs]
default-target = "thumbv4t-none-eabi"
cargoflags = ["-Zbuild-std=core"]
rustdoc-args = ["--cfg","docs_rs"]
