name: ci

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - { toolchain: nightly }
    steps:
      - uses: actions/checkout@v2

      - name: Install Apt Dependencies
        run: sudo apt-get update && sudo apt-get install binutils-arm-none-eabi

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust.toolchain }}
          default: true

      - name: Install Rust Source
        run: rustup component add rust-src

      - name: Build The Examples
        uses: actions-rs/cargo@v1
        with:
          toolchain: ${{ matrix.rust.toolchain }}
          command: build
          args: --examples

      - name: Check compilation succeeds when not on the GBA (check to prevent complaints about missing things)
        uses: actions-rs/cargo@v1
        with:
          toolchain: ${{ matrix.rust.toolchain }}
          command: check
          args: --no-default-features
