name: ci

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        rust:
          - { toolchain: nightly }
    steps:
      - uses: actions/checkout@v2
      
      - name: Install Apt Dependencies
        run: sudo apt-get update && sudo apt-get install binutils-arm-none-eabi

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust.toolchain }}
          default: true

      - name: Install Rust Source
        run: rustup component add rust-src

      - name: Build The Examples
        uses: actions-rs/cargo@v1
        with:
          toolchain: ${{ matrix.rust.toolchain }}
          command: build
          args: --examples

      - name: Check That Docs Compile
        uses: actions-rs/cargo@v1
        with:
          toolchain: ${{ matrix.rust.toolchain }}
          command: test
          args: --doc
